/* the props */
@import "open-props/style";

/* optional imports that use the props */
@import "open-props/normalize";
@import "open-props/buttons";

:root {
	/* font-size: clamp(0.625rem, 0.4745rem + 0.8025vw, 1.4375rem); */
	font-size: 16px;
}

body {
	background-color: #333;
}

/* Media query to prevent the app from running on landscape screens */
@media (orientation: landscape) {
	body {
		overflow: hidden;

		&::after {
			background-color: black;
			content: "The device must be in landscape mode for the app to function properly. Please rotate the device.";
			font-size: 1.4rem;
			text-align: center;

			display: grid;
			place-items: center;

			padding: var(--size-3);
			inset: 0;
			position: fixed;
			z-index: var(--layer-important);
		}
	}
}